<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
		http://java.sun.com/xml/ns/javaee 
		http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
 <servlet>
		<servlet-name>Connexion</servlet-name>
		<servlet-class>hei.controllers.ConnexionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreationProfil</servlet-name>
		<servlet-class>hei.controllers.CreationProfilServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MonCalendrier1</servlet-name>
		<servlet-class>hei.controllers.MonCalendrier1Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CalendrierHei</servlet-name>
		<servlet-class>hei.controllers.CalendrierHeiServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MesOptions</servlet-name>
		<servlet-class>hei.controllers.MesOptionsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MesInfos</servlet-name>
		<servlet-class>hei.controllers.MesInfosServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EspaceResp</servlet-name>
		<servlet-class>hei.controllers.EspaceRespServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Administration</servlet-name>
		<servlet-class>hei.controllers.AdministrationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LesAssos</servlet-name>
		<servlet-class>hei.controllers.LesAssosServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListeModifAssos</servlet-name>
		<servlet-class>hei.controllers.ListeModifAssosServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModifierAsso</servlet-name>
		<servlet-class>hei.controllers.ModifierAssoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModifierEvent</servlet-name>
		<servlet-class>hei.controllers.ModifierEventServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AjouterAsso</servlet-name>
		<servlet-class>hei.controllers.AjouterAssoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AjouterEvent</servlet-name>
		<servlet-class>hei.controllers.AjouterEventServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SupprimerAsso</servlet-name>
		<servlet-class>hei.controllers.SupprimerAssoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SupprimerEvent</servlet-name>
		<servlet-class>hei.controllers.SupprimerEventServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PresentationAsso</servlet-name>
		<servlet-class>hei.controllers.PresentationAssoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Redirection</servlet-name>
		<servlet-class>hei.controllers.RedirectionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Moderation</servlet-name>
		<servlet-class>hei.controllers.ModerationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListeParticipation</servlet-name>
		<servlet-class>hei.controllers.ListeParticipationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Participe</servlet-name>
		<servlet-class>hei.controllers.ParticipeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Test</servlet-name>
		<servlet-class>hei.controllers.FileUploadServlet</servlet-class>
		<multipart-config>
			<location>D:/Images</location>
			<max-file-size>10485760</max-file-size> <!-- 10 Mo -->
			<max-request-size>52428800</max-request-size> <!-- 5 x 10 Mo -->
			<file-size-threshold>1048576</file-size-threshold> <!-- 1 Mo -->
		</multipart-config>
	</servlet>
	<filter>
		<filter-name>SessionFilter</filter-name>
		<filter-class>hei.Filter.SessionFilter</filter-class>
	</filter>
	
	<servlet-mapping>
		<servlet-name>Connexion</servlet-name>
		<url-pattern>/connexion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreationProfil</servlet-name>
		<url-pattern>/creationProfil</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MonCalendrier1</servlet-name>
		<url-pattern>/monCalendrier1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CalendrierHei</servlet-name>
		<url-pattern>/calendrierHei</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LesAssos</servlet-name>
		<url-pattern>/lesAssos</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MesOptions</servlet-name>
		<url-pattern>/mesOptions</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MesInfos</servlet-name>
		<url-pattern>/mesInfos</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EspaceResp</servlet-name>
		<url-pattern>/espaceResp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Administration</servlet-name>
		<url-pattern>/administration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListeModifAssos</servlet-name>
		<url-pattern>/listeModifAsso</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifierAsso</servlet-name>
		<url-pattern>/modifierAsso</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifierEvent</servlet-name>
		<url-pattern>/modifierEvent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AjouterAsso</servlet-name>
		<url-pattern>/ajouterAsso</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AjouterEvent</servlet-name>
		<url-pattern>/ajouterEvent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SupprimerAsso</servlet-name>
		<url-pattern>/supprimerAsso</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SupprimerEvent</servlet-name>
		<url-pattern>/supprimerEvent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PresentationAsso</servlet-name>
		<url-pattern>/presentationAsso</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Redirection</servlet-name>
		<url-pattern>/redirection</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Moderation</servlet-name>
		<url-pattern>/moderation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListeParticipation</servlet-name>
		<url-pattern>/listeParticipation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Participe</servlet-name>
		<url-pattern>/participe</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>	
	
	<welcome-file-list>
		<welcome-file>connexion</welcome-file>
	</welcome-file-list>
</web-app>