<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
		http://java.sun.com/xml/ns/javaee 
		http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
 <servlet>
		<servlet-name>Connexion</servlet-name>
		<servlet-class>hei.controllers.ConnexionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreationProfil</servlet-name>
		<servlet-class>hei.controllers.CreationProfilServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MonCalendrier1</servlet-name>
		<servlet-class>hei.controllers.MonCalendrier1Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CalendrierHei</servlet-name>
		<servlet-class>hei.controllers.CalendrierHeiServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MesOptions</servlet-name>
		<servlet-class>hei.controllers.MesOptionsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LesAssos</servlet-name>
		<servlet-class>hei.controllers.LesAssosServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListeModifAssos</servlet-name>
		<servlet-class>hei.controllers.ListeModifAssosServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModifierAsso</servlet-name>
		<servlet-class>hei.controllers.ModifierAssoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AjouterAsso</servlet-name>
		<servlet-class>hei.controllers.AjouterAssoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PresentationAsso</servlet-name>
		<servlet-class>hei.controllers.PresentationAssoServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Connexion</servlet-name>
		<url-pattern>/connexion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreationProfil</servlet-name>
		<url-pattern>/creationProfil</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MonCalendrier1</servlet-name>
		<url-pattern>/monCalendrier1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CalendrierHei</servlet-name>
		<url-pattern>/calendrierHei</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LesAssos</servlet-name>
		<url-pattern>/lesAssos</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MesOptions</servlet-name>
		<url-pattern>/mesOptions</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListeModifAssos</servlet-name>
		<url-pattern>/listeModifAsso</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifierAsso</servlet-name>
		<url-pattern>/modifierAsso</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AjouterAsso</servlet-name>
		<url-pattern>/ajouterAsso</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PresentationAsso</servlet-name>
		<url-pattern>/presentationAsso</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>connexion</welcome-file>
	</welcome-file-list>
</web-app>