nav li
{
position: relative;
top:10px;
display:inline-block;
padding:5px 20px 5px 20px;
background: #C0C0C0;
margin-right:30px;
}
nav#navigation
{
position : relative;
top : 10px;
left:170px;
width:900px;
background : #7F7764;
text-align : center;
height : 50px;
box-shadow : 0px 10px 5px 0px #A9A9A9;
margin:0px;
}
nav a
{
text-decoration:none;
color :#483D8B;
}
nav li.active a
{
color :#FF4500;
}
aside.deconnexion 
{
position:relative;
top:25px;
left:950px;
width:100px;
padding: 0px 5px 0px 5px;
}
aside.deconnexion img
{
width:100px;
}

section.choix1
{
position:relative;
margin:30px 50px 30px 180px;
width:200px;
}
section.choix2
{
position:relative;
top:-55px;
margin:30px 50px 30px 350px;
}
section h2
{
position: relative;
left: 200px;
width:300px;
margin:20px 0px 20px 0px;
}
section.table h2
{
position:relative;
top: -50px;
}
article.resume
{
margin-left:170px;
height:200px;
width:830px;
padding:20px;
border-width: 2px;
border-style:outset;
border-color:grey;
border-radius: 10px 10px 10px 10px;
-webkit-transition-property:border-style,box-shadow;
box-shadow:none;
}
article.resume:hover
{
border-style:inset;
box-shadow : 0px 5px 2px 0px #A9A9A9;
}
article h2
{
position:relative;
top:-20px;
left:100px;
padding:5px;
max-width: 400px;
margin:20px 20px 20px 20px;
}
article.description
{
position:relative;
top:10px;
right: 300px;
}
article#BDA
{
background-color:rgba(255,0,0,0.5);
}
article#BDS
{
background-color:rgba(0,255,0,0.5);
}
article#CapSo
{
background-color:rgba(0,0,255,0.5);
}
article#PES
{
background-color:rgba(255,127,0,0.5);
}
article#PET
{
background-color:rgba(127,0,255,0.5);
}
article p#lieu
{
position: relative;
margin:20px;
top:-30px;
left:400px;
width:200px;
}
article p#nomCom
{
position: relative;
margin:20px;
top:-70px;
left:400px;
width:400px;
}
article p#description
{
position: relative;
margin:20px;
top:-70px;
left:400px;
height:60px;
width:600px;
}
article p#horaire
{
position:relative;
margin:20px;
top:-100px;
left:700px;
width:300px;
}
form#ajout
{
position: relative;
top:-225px;
left:725px;
width:100px;
}
input#idEvent
{
display:none;
}
img
{
position:absolute;
height: auto;
width:100px;
}
table
{
position: relative;
top:-50px;
height:50px;
width: 900px;
border-collapse:collapse;
background-color:white;
margin-left: 170px;
}
table td,th
{
border:1px solid black;
text-align:center;
padding:5px 20px 5px 20px;
}
table th
{
color:red;
}
footer
{
position:fixed;
right:0;
left:0;
bottom:0;
text-align:center;
background-color:grey;
color:white;
}