
aside.retour
{
position: relative;
top:-15px;
left:190px;
width:100px;
}
h3#presentation
{
position:relative;
top:0px;
left:190px;
width:850px;
}

form
 {
 position:relative;
 left:300px;
 height:70px;
 width:500px;
 }
section#droits
{
position:relative;
top:-80px;
left:400px;
width:500px;
}
input#btnValider
{
position:relative;
top:-80px;
left:400px;
}
input#idEtudiant
{
display:none;
}