body
{
font-family: "Arial", sans-serif, 1em;
background-image: url(../img/background-ident.jpg);
height:600;
width:1130;
background-attachment:fixed;
}
form
{
position:fixed;
top: 380px;
right: 70px;
background-color:white;
}
h1
{
color: red;
text-align:center;
}
input#creation
{
position: relative;
top: 420px;
left:1000px;
}