body
{
text-align:center;
font-family: "Arial", sans-serif, 1em;
}
h1#titre1
{
position: relative;
color: red;
}
h1#titre2
{
position: relative;
color: red;
top:10px;
}
h2
{
color: blue;
padding:10px 0px 10px 0px;
}
form
{
position: relative;
top: 20px;
margin: auto;
width:400px;
height:auto;

}
input#btn
{
position: relative;
top: 10px;
}