aside.deconnexion 
{
position:relative;
top:25px;
left:950px;
width:100px;
padding: 0px 5px 0px 5px;
}
aside.deconnexion img
{
width:100px;
}
aside.retour
{
position: relative;
top:-15px;
left:190px;
width:100px;
}
h3#presentation
{
position:relative;
top:0px;
left:190px;
width:850px;
}
h3#titre
{
position:relative;
top:-30px;
left:530px;
width:500px;
}
h3#titre2
{
position:relative;
top:20px;
left:480px;
width:500px;
}
h2#asuppr
{
position:relative;
top:50px;
margin:20px;
left:530px;
width:300px;
}
input#trap
{
position:relative;
top:70px;
left:400px;
width:200px;	
}
input#idcommission
{
display:none;
}
section.tous
{
position: relative;
top: 20px;
left:200px;
width:600px;
}
section#asso
{
position: relative;
margin: 20px;

}
section#president
{
position: relative;
margin-top: 70px;
left:480px;
width:400px;
}
section.mesInfos
{
position:relative;
top:-20px;
left:480px;
}
form.ajoutAsso
{
position: relative;
top:20px;
left:200px;
width:800px;
margin:20px;
}

div#message
{
position:relative;
top:-300px;
left:700px;
width:300px;
}

img#logo
{
height:60px;
width:auto;	
}
article.entier
{
margin-left:170px;
margin-top:50px;
height:auto;
width:830px;
padding:20px;
border-width: 2px;
border-style:outset;
border-color:grey;
border-radius: 10px 10px 10px 10px;
box-shadow:none;
}
article.description
{
position:relative;
left:100px;
}