aside.deconnexion 
{
position:relative;
top:25px;
left:950px;
width:100px;
padding: 0px 5px 0px 5px;
}
aside.deconnexion img
{
width:100px;
}
aside.retour
{
position: relative;
top:-15px;
left:190px;
width:100px;
}
h3#presentation
{
position:relative;
top:0px;
left:190px;
width:850px;
}
h3#titre
{
position:relative;
top:-30px;
left:530px;
width:500px;
}
h3#titre2
{
position:relative;
top:20px;
left:480px;
width:500px;
}
h2#asuppr
{
position:relative;
top:50px;
margin:20px;
left:530px;
width:300px;
}
h2#bjr
{
position:relative;
left:400px;
padding-bottom:20px;
width:600px;
}
input#trap
{
position:relative;
top:70px;
left:400px;
width:200px;	
}
input#idcommission
{
display:none;
}
section.tous
{
position: relative;
top: 20px;
left:200px;
width:600px;
}
section#asso
{
position: relative;
margin: 20px;

}
section#president
{
position: relative;
margin-top: 70px;
left:480px;
width:400px;
}
section.espacePres
{
position:relative;
left:500px;
}
form.mesInfos
{
margin:20px;
}
form.ajoutAsso
{
position: relative;
top:20px;
left:200px;
width:800px;
margin:20px;
}
section.mesInfos
{
position:relative;
margin-top:40px;
left:200px;
width:500px;
}
div#message
{
position:relative;
top:-300px;
left:700px;
width:300px;
}
section.listModif{
position:relative;
top:20px;
}
ul.tabs {
		margin-right: auto;
		margin-left: auto;
		padding: 0;
		list-style: none;
		height: 32px;
		border-bottom: 1px solid #999999;
		border-left: 1px solid #999999;
		width: 800px;
	}
	ul.tabs li {
		float: left;
		margin-right: auto;
		margin-left: auto;
		cursor: pointer;
		padding: 0px 21px ;
		height: 31px;
		line-height: 31px;
		border: 1px solid #999999;
		border-left: none;
		font-weight: bold;
		background: #EEEEEE;
		overflow: hidden;
		position: relative;
	}
	ul.tabs li:hover {
		background: #CCCCCC;
	}	
	ul.tabs li.active{
		background: #FFFFFF;
		border-bottom: 1px solid #FFFFFF;
	}
	.tab_container {
		border: 1px solid #999999;
		border-top: none;
		clear: both;
		margin-right: auto;
		margin-left: auto;
		width: 800px;
		background: #FFFFFF;
	}
	.tab_content {
		padding: 20px;
		font-size: 1.2em;
		display: none;
	}