nav#navigation li
{
position: relative;
top:10px;
display:inline-block;
padding:5px 20px 5px 20px;
background: #C0C0C0;
margin-right:30px;
}
nav#navigation
{
position : relative;
top : 10px;
left:170px;
width:900px;
background : #7F7764;
text-align : center;
height : 50px;
box-shadow : 0px 10px 5px 0px #A9A9A9;
margin:0px;
}
nav a
{
text-decoration:none;
color :#483D8B;
}
nav li.active a
{
color :#FF4500;
}

nav#navigationOption
{
position : relative;
top : -45px;
left : 170px;
width:900px;
text-align : center;
height : 50px;
}
nav#navigationOption li
{
position: relative;
top:10px;
display:inline-block;
padding:5px 10px 5px 10px;
background: #C0C0C0;
margin-right:10px;
}

nav#navigationPres
{
position : relative;
top : -40px;
left:150px;
width:900px;
}
nav#navigationPres li
{
position: relative;
display:inline-block;
margin-right:30px;
}
