
/**** Desktop ****/
/*Body*/
.mobile{
	display:none;
}

.desktop{
	display:block;
}

body{
	font-family: Arial, Helvetica;
}

#entete{	
	margin:0 auto;
	width:72%;
	text-align:center;
	border-style:groove;
	border-width:5px;
	border-color:red;
	border-radius: 10px;
	background:white;
}

body{
	background-image: url(../img/test2.jpg);
	background-size: 100% auto;
	margin-bottom: 100px;
}

footer{
	position:fixed;
	right:0;
	left:0;
	bottom:0;
	text-align:center;
	background-color:grey;
	color:white;
}

.clear{
	clear:both;
}

/*Connexion*/
.titreBienvenue{
	text-align:center;
	color: red;
	width:100%;
	margin:0 auto;
}

.identification{
	float:left;
	margin: 30px 30% 10px 30%;
	width:40%;
	height:150px;
}

.mdpOublie{
	float:left;
	margin: 30px 30% 10px 30%;
	width:40%;
	height:100px;
}

.inputConnexion{
	margin:10px 0;
}
	
.bouton_submit{
	float:right;
}

.errorConnexion1{
	 margin-left: 30%;
	 max-height: 20px;
	 max-width: 30%;
}

.errorConnexion2{
	 margin-left: 30%;
	 max-height: 20px;
	 max-width: 44%;
	 margin-bottom:70px;
}
	
.creerProfil{
	margin:0 30% 0 0;
	float:right;
	text-decoration:none;
}

/*Aside*/
.deconnexion{
	margin:2% 0 0 77%;
	width:8%;
}

.deconnexion2{
	float:left;
	top:25px;
	margin:2% 0 0 2%;
	width:8%;
}

.deconnexion img{
	width:100px;
}

.retour{
	position: relative;
	top:-15px;
	left:190px;
	width:100px;
}
/*Navigation*/

nav#navigation li{
	margin-top:10px;
	display:inline-block;
	padding:5px 20px 5px 20px;
	background: #C0C0C0;
	margin-right:30px;
}

nav#navigation{
	margin-left:14%;
	width:72%;
	background : #7F7764;
	text-align : center;
	height : 50px;
	box-shadow : 0px 10px 5px 0px #A9A9A9;
}

nav a{
	text-decoration:none;
	color :#483D8B;
}

nav li.active a{
	color :#FF4500;
}

nav#navigationOption{
	float:left;
	width:52%;
	height:50px;
	margin-left:23%;
	margin-bottom:10px;
}

nav#navigationOption li{
	top:10px;
	display:inline-block;
	padding:5px 10px 5px 10px;
	background: #C0C0C0;
	margin-right:10px;
}

nav#navigationPres{
	margin-left:15%;
	width:900px;
}

nav#navigationPres li{
	display:inline-block;
	margin-right:30px;
}


/*Calendrier*/
.dateEvent{
	width:17%;
	margin:0 15% 20px;
}

.resume{
	margin:0 13% 5px;
	min-height:200px;
	width:69%;
	padding:20px;
	border-width: 2px;
	border-style:outset;
	border-color:grey;
	border-radius: 10px 10px 10px 10px;
	-webkit-transition-property:border-style,box-shadow;
	box-shadow:none;
}

.resume:hover{
	border-style:inset;
	box-shadow : 0px 5px 2px 0px #A9A9A9;
}

.titreEvent{
	max-width: 400px;
	margin:0px 20px;
	float:left;
}

.description{
	width:75%;
	float:left;
}

#BDA{
	background-color:rgba(255,0,0,0.5);
}

#BDS{
	background-color:rgba(0,255,0,0.5);
}

#CapSo{
	background-color:rgba(0,0,255,0.5);
}

#PES{
	background-color:rgba(255,127,0,0.5);
}

#PET{
	background-color:rgba(127,0,255,0.5);
}

#lieu{
	float:left;
	margin:0 20px;
	width:47%;
}

#nomCom{
	float:right;	
	width:40%;
}

#description{
	margin:20px;
	height:60px;
	width:75%;
}

#horaire{
	margin: 0 20px;
	float:left;
	width:40%;
}

input#idEvent{
	display:none;
}

.imgCal{
	float:left;
	height: auto;
	width:10%;
}

.posModSuppr{
	float:right;
	margin-top:18%;
}

.posModeration{
	float:right;
}
/*Mes options*/

#presentation{
	margin-left:15%;
	width:70%;
}

#titre{
	width:30%;
	margin:5px auto;
	text-align:center;
}

.tous{
	margin-left:15%;
	width:70%;
}

section#asso{
	position: relative;
	margin: 20px;
}

section#president{
	position: relative;
	margin-top: 70px;
	left:480px;
	width:400px;
}

section.espacePres{
	position:relative;
	left:500px;
}

div#message{
	position:relative;
	top:-300px;
	left:700px;
	width:300px;
}

section.listModif{
	position:relative;
	top:20px;
}

ul.tabs {
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #999999;
	width:100%;
}

ul.tabs li {
	float: left;
	margin-right: auto;
	margin-left: auto;
	cursor: pointer;
	padding: 0px 21px ;
	height: 31px;	
	line-height: 31px;
	border: 1px solid #999999;
	border-left: none;
	font-weight: bold;
	background: #EEEEEE;
	overflow: hidden;
	position: relative;
}

ul.tabs li:hover {
	background: #CCCCCC;
}	

ul.tabs li.active{
	background: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

.tab_container {
	border: 1px solid #999999;
	border-top: none;
	clear: both;
	margin: 0 auto 10px;
	width: 100%;
	background: #FFFFFF;
}

.tab_content {
	padding: 20px;
	font-size: 1.2em;
	display: none;
}
/*Les Assos*/

form#preference{
position: relative;
top: 20px;
left:200px;
width:300px;
}

.listAsso{
	margin-top:15px;
}

.asso{
	margin-left:170px;
	height:40px;
	width:68%;
	padding:10px;
	border-width: 2px;
	border-style:outset;
	border-color:grey;
	border-radius: 10px 10px 10px 10px;
	-webkit-transition-property:border-style,box-shadow;
	box-shadow:none;
}

article.asso:hover{
	border-style:inset;
	box-shadow : 0px 5px 2px 0px #A9A9A9;
}

.nomAssoContact{
	margin:10px 0 5px 20%;
	max-width:80%;
}
.nomAssoContact a{
	text-decoration:none;
}

img#presentation2{
	height:100%;
	width:auto;
	float:left;
	margin-right:10px;
}

article.presentation{
position:relative;
top:20px;
left:250px;
width:700px;
}

/*Mes infos*/

section.mesInfos{
	margin-top:40px;
	margin-left:15%;
	width:50%;
}

#bjr{
	margin-left:15%;
	width:70%;
}

.tailleInput{
	width:60%;
	margin-bottom:5px;
}

form.mesInfos{
	margin:20px;
}

/*Espace président*/

#titre2{
	text-align:center;
	width:71%;
	margin:0 auto;
}

.entier{
	margin-left:14%;
	margin-top:20px;
	height:auto;
	width:65%;
	padding:20px;
	border-width: 2px;
	border-style:outset;
	border-color:grey;
	border-radius: 10px 10px 10px 10px;
	box-shadow:none;
}

.titreAsso{
	width: 80%;
	margin:0px 20px;
	float:left;
}

#descriptionAssoPres{
	margin-left:20px;
	float:left;
	width:90%;
	margin-bottom:20px;
}

.titreEventPres{
	float:left;
	width:92%;
	margin-left:20px;
}

.events{
	border-top:1px solid #ccc;
}

.modifAsso{
	float:left;
	margin-bottom:10px;
}

.labelArticle{
	margin-top:10px;
}

/*Ajouter un événement*/
.ajoutEvent{
	margin-left:15%;
	width:70%;
}

.commissionNewEvent, .titreNewEvent, .dateNewEvent, .descriptionNewEvent, .lieuNewEvent {
	float:left;
	width:100%;
	margin-bottom:10px;
}

#lieuNewEvent{
	float:left;
}

#descriptionNewEvent{
	width:60%;
	height:100px;
	float:left;
}

.dateDebut, #dateDebut{
	float:left;
}
#dateDebut{
	margin:0 0 5px 10px;
}

.heureDebut, #heureDevut{
	float:left;
}

.dateFin{
	margin-right:10px;
}

.blocDate1{
	float:left;
	width:51%;
}
.blocDate2{
	float:right;
	margin-right:25px;
	width:42%;
}

/*Présentation asso*/

img#logo{
	height:60px;
	width:auto;	
	float:left;
}

.titrePresAsso{
	float: left;
    margin:19px;
    width: 100%;
}

.descriptionPresAsso{
	height: auto;
    margin: 20px 20px 20px 0;
    width: 100%;
}

.nomResp{
	margin-bottom:5px;
}

.mailResp{
	margin-top:10px;
}

/*Administration*/

.gestionDroits{
	 margin-left:15%;
	 height:70px;
	 width:50%;
 }
 
.line{
	margin-bottom:5px;
	width:100%;
	height:30%;
}

.nomEtudiant{
	width:75%;
	float:left;
	margin:0;
}

.mailEtudiant{
	width:75%;
	float:left;
	margin:0;
}

#droits{
	float:left;
}

input#idEtudiant{
	display:none;
}

/*Ajouter une asso*/

.line2{
	margin-bottom:10px;
}

.inputNomAsso{
	width:36%;
	margin-left:32px;
}

.inputMailReferent{
	width:36%;
	margin-left:5px;
}

section#bureau{
	margin: 10px 0;
}

form.ajoutAsso{
	position: relative;
	top:20px;
	margin:20px 20px 20px 15%;
	width:65%;
}

/*Modifier une asso*/

.descriptionAsso{
	margin:20px;
}

#nomAsso, #mailResp, section#logo{
	margin-bottom:10px;
}

/*Supprimer Asso- Supprimer Event*/

.supprEvent, .supprAsso{
	text-align:center;
}

#asuppr{
	margin:20px 0 20px 14%;
	text-align:center;
	width:71%;
}

input#trap{
	width:200px;	
}

input#idcommission, input#idevenement{
	display:none;
}

/*listeParticipation*/

.nomParticipant{
	width:70%;
	margin-left:15%;
	margin-top:10px;
}

#titrePart{
	width:30%;
	margin:5px auto 40px;
	text-align:center;
}

/**** Mobile ****/
@media only screen and (max-device-width:480px) {
/*Body*/

	.desktop{
		display:none;
	}
	
	.mobile{
		display:block;
	}
	
	body{
		padding:0;
		background-image:none;
	}
	
	#entete{	
		width:97%;
		text-align:left;
	}
	
	h1.entete{
		margin:5px 25%;
		width:50%;
	}
	
	aside{
	display:none;
	}
	
	.btnEnregistrer{
	float:right;
	}
	
/*Connexion*/
	.identification{
		margin: 30px auto 10px auto;
		width:100%;
		height:188px;
	}
	
	.mdpOublie{
		float:left;
		margin: 30px auto 10px auto;
		width:100%;
		height:150px;
	}
	
	.inputConnexion{
		width:100%;
	}
	
	.errorConnexion1{
		 margin: 10px 0 10px 0 ;
		 max-height:5%;
		 max-width: 100%;
	}
	
	.errorConnexion2{
		 margin: 10px 0 20px 0 ;
		 max-height:5%;
		 max-width: 100%;
	}
	
/*Calendrier*/
	
	.dateEvent{
		width:90%;
		margin:5px 20px 10px;
	}
	
	.resume{
		margin:0 0 10px;
		min-height:65px;
		width:93%;
		padding:3%;
	}
	
	.resume:hover{
		border-style:inset;
		box-shadow : 0px 5px 2px 0px #A9A9A9;
	}
	
	.titreEvent{
		max-width: 80%;
		margin:0px 20px;
		float:left;
		font-size:15px;
	}
	
	.description{
		width:75%;
		float:left;
	}
	
	#lieu{
		display:none;
		float:left;
		margin:20px;
		width:47%;
	}
	
	#nomCom{
		float:right;	
		width:40%;
		display:none;
	}
	
	#description{
		display:none;
		margin:20px;
		height:60px;
		width:75%;
	}
	
	#horaire{
		margin-left:10px;
		float:left;
		width:100%;
	}
	
	form#ajout{
		width:100px;
	}
	
	input#idEvent{
		display:none;
	}
	
	.imgCal{
		width:16%;
	}
/*Mes options*/

	#presentation{
		font-size:11px;
		margin-left:0;
		width:100%;
	}
	
	#titre{
		width:100%;
		text-align:center;
	}
	
	.labelExpliChoix{
		font-size:15px;
	}
	
	.tous{
		margin-left:0;
		width:100%;
	}
	
	.listeAssoTAb{
	padding-left:20px;
	}
	
	ul.tabs li {
		padding: 0px 11px ;
	}
	
	.tab_content {
		padding: 0px;
	}

/*Les Assos*/
	.asso{
		margin-left:0;
		width:92%;
	}
	
/*Mes Infos*/

	#bjr{
		margin-left:0;
		width:90%;
		font-size:15px;
		text-align:center;
	}
	
	.tailleInput{
		width:100%;
		margin-bottom:5px;
	}
	
	section.mesInfos{
		margin-top:10px;
		margin-left:0;
		width:90%;
	}
	
/*Espace Président*/
	
	.entier{
		margin-left:0;
		margin-top:20px;
		width:86%;
		padding:20px;
	}
	
	.titreAsso{
		width: 50%;
		margin:10px 20px;
	}
	
	/*Ajouter un événement*/
	.ajoutEvent{
		margin-left:15%;
		width:70%;
	}
	
	.commissionNewEvent, .titreNewEvent, .dateNewEvent, .descriptionNewEvent, .lieuNewEvent {
		float:left;
		width:100%;
		margin-bottom:10px;
	}
	
	#lieuNewEvent{
		float:left;
	}
	
	#descriptionNewEvent{
		width:100%;
	}
	
/*Administration*/

	.gestionDroits{
		 margin-left:0;
		 height:70px;
		 width:100%;
	 }
	 
	.line{
		margin-bottom:5px;
		width:100%;
		height:30%;
	}
	
	.nomEtudiant{
		width:65%;
		float:left;
		margin:0;
	}
	
	.mailEtudiant{
		width:75%;
		float:left;
		margin:0;
	}
	
	/*Ajouter une asso*/

	.line2{
		margin-bottom:10px;
	}
	
	.inputNomAsso{
		width:100%;
		margin-left:0px;
		margin-top:5px;
	}
	
	.inputMailReferent{
		width:100%;
		margin-left:0px;
		margin-top:5px;
	}
	
	section#bureau{
		margin: 10px 0;
	}
	
	form.ajoutAsso{
		position: relative;
		top:20px;
		margin:20px 20px 20px 10px;
		width:90%;
	}
}